@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Josefin+Slab&display=swap');

body{
font-family: 'Ibarra Real Nova', serif;
margin: 0;
padding: 0;
}
.wrapper{
  display: grid;
}
header{
  margin-left: 10px;
  background: #E5B7FF;
}
section{
margin-left: 10px;
}
aside{
  background: #FFB7D1;
  margin-left: 10px;
  text-align: center;
}
.lang{
  text-align: right;
}
aside a {
  color: #000000;
}
footer{
  margin-left: 10px;
  text-align: center;
}
section:nth-child(7){
  background-color: #BCFFB7;
}
/* driekoloms layout   */
@media screen and (min-width: 60em) {
   .wrapper{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
  }
   header{
         grid-column: 1/4;
         }
         main{
           grid-column: 1/4;
           /* ook parent van sections  */
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-gap: 4em;
         }
   aside{
        grid-column: 1/4;
   }
   footer{
     grid-column: 1/4;
   }
}
@media screen and (min-width: 30em) {
   .wrapper{
          display: grid;
          grid-template-columns: 1fr 1fr;
  }
   header{
         grid-column: 1/3;
         }
         main{
           grid-column: 1/3;
           /* ook parent van sections  */
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-gap: 4em;
         }
   aside{
        grid-column: 1/2;
   }
   footer{
     grid-column: 1/2;
   }
}
